@model IEnumerable<WebShop.Models.Role>

@{
	ViewData["Title"] = "Quản lý quyền truy cập";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
			<span class="breadcrumb-item active">Danh sách quyền truy cập</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h1>Danh sách quyền truy cập</h1>
		<hr />
		<div class="row m-b-30">
			<div class="col-lg-8">
				<div class="d-md-flex">
				</div>
			</div>

			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" asp-area="Admin" asp-controller="AdminRoles" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới</span></a>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-hover e-commerce-table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Tên</th>
						<th scope="col">Mô tả</th>
						<th scope="col">Thao tác</th>
					</tr>
				</thead>
				<tbody>
					@if (Model != null)
					{
						foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.RoleId</th>
								<td>@item.RoleName</td>
								<td>@item.Description</td>
								<td>
									<a class="btn btn-info btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId"><i class="anticon anticon-info-circle m-r-5"></i><span>Chi tiết</span></a>
									<a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId"><i class="anticon anticon-edit m-r-5"></i><span>Chỉnh sửa</span></a>
									<a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId"><i class="anticon anticon-delete m-r-5"></i><span>Xóa</span></a>
									
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
